p== "Welcome #{session[:id].username}! Please upload the zip file containing the students' websites"

form action="/uploadzip" method="POST" enctype="multipart/form-data"
  input type="file" name="file"
  input type="submit" value="Upload-Zip"